* {
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	width: 100px;
	height: 100px;
	background-color: #3c2b6c80;
	padding: 20px;
	margin: 1em .5em;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #000;
	font-weight: bold;
}

.large {
	flex-wrap: wrap;
}